---
import { date } from "astro:schema";

const year = new Date().getFullYear();
---

<footer class="bg-black text-white">
  <div class="container m-auto p-2 text-center">
    <a href="https://x.com/tanachuns" class="hover:text-custom-mint" target="_blank">
      Cooked by © {year} tanachuns</a
    >
    
  </div>
</footer>
