---
import { Image } from "astro:assets";
import Logo from "../images/favicon.png";
---

<nav class="border-b">
  <div class="p-2 m-auto container">
    <button>
      <Image src={Logo} alt="A bird." width="50" height="50" loading="eager" />
    </button>
  </div>
</nav>
