---
const { span } = Astro.props;
---

<side class="col-span-1">
  <ul>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <hr />
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
  </ul>
</side>
