---
import Layout from "../layouts/Layout.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  date: string;
}>;

const { frontmatter, url } = Astro.props;
---

<Layout title={frontmatter.title}>
  <p class="text-3xl mb-1">{frontmatter.title}</p>
  <small>{frontmatter.date}</small>
  <hr class="my-5" />
  <div class="prose text-pretty max-w-full">
    <slot />
  </div>
</Layout>
