---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Logo from "../images/favicon.png";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="à¸ªà¸§à¸±à¸ªà¸”à¸µà¸Šà¸²à¸§à¹€à¸™à¹‡à¸•, à¸œà¸¡ à¸•à¹‰à¸™ à¹€à¸›à¹‡à¸™ Software Developer à¸«à¸™à¹‰à¸²à¹ƒà¸«à¸¡à¹ˆà¹à¸•à¹ˆà¹„à¸Ÿà¸¡à¸­à¸”à¹„à¸›à¹à¸¥à¹‰à¸§ðŸ˜­ à¸—à¸µà¹ˆà¸Šà¸·à¹ˆà¸™à¸Šà¸­à¸š à¸à¸²à¸£à¸—à¸³à¸­à¸²à¸«à¸²à¸£, à¸ªà¸£à¹‰à¸²à¸‡à¸™à¸¹à¹ˆà¸™à¸™à¸µà¹ˆ à¹à¸¥à¸° à¸¨à¸¶à¸à¸©à¸²à¸­à¸°à¹„à¸£à¹„à¸›à¹€à¸£à¸·à¹ˆà¸­à¸¢ "
    />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!--  -->
    <link rel="icon" type="image/svg+xml" href={Logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden bg-white">
    <Navbar />
    <main class="container m-auto min-h-[100vh] grid md:grid-cols-5 w">
      <Sidebar />
      <div class="md:border-l col-auto md:col-span-3 p-8"><slot /></div>
    </main>
    <Footer />
  </body>
</html>
