---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Outlines from "../components/Outlines.astro";
import Sidebar from "../components/Sidebar.astro";
import Logo from "../images/favicon.png";
import type { Outline } from "./Blog.astro";

interface Props {
  title: string;
  outline?: Outline[];
}

const { title, outline } = Astro.props;

---

<!doctype html>
<html lang="th" class="scroll-smooth scroll-p-20">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="สวัสดีชาวเน็ต, ผม ต้น เป็น Software Developer หน้าใหม่แต่ไฟมอดไปแล้ว😭 ที่ชื่นชอบ การทำอาหาร, สร้างนู่นนี่ และ ศึกษาอะไรไปเรื่อย "
    />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!--  -->
    <link rel="icon" type="image/svg+xml" href={Logo.src} />
    <meta name="generator" content={Astro.generator} />

    <title>{title + " | บึงดิจิตอลของธนารักษ์ "}</title>
  </head>
  <body class="overflow-x-hidden bg-white">

    <Navbar />
    <main class="container m-auto min-h-[100vh] grid md:grid-cols-5 overflow-visible">
      <Sidebar />
      <div class="md:border-l col-auto md:col-span-3 p-8"><slot /></div>
      {outline && <Outlines outlines={outline} />}
    </main>
    <Footer />
  </body>
</html>
